.productCard {
  border-radius: 3px;
}

.productCard a {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.productImageWrapper {
  position: relative;
  height: 200px;
  width: 100%;
  overflow: hidden;
  border-radius: 3px;
}
.productImageWrapper img{
  transition: transform 150ms ease-in;
}
.productPrice {
  font-size: 15px;
  font-weight: 700;
}
.productName {
  font-size: 14px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}
.productCard:hover{
  .productImageWrapper img{
    transform: scale(1.06);
  }
}