.categoryContainer {
  max-width: 1152px;
  margin-inline: auto;
}
@media screen and (min-width:768px) {
    .categoryContainer h2{
        font-size: var(--text-2xl);
    }
}
.categoryWrapper {
  position: relative;
  border: 1px solid black;
  display: inline-block;
  margin-top: 10px;
  width: calc(100% - 35px);
  display: flex;
}

.categoryMenu {
  display: flex;
  align-items: center;
  list-style-type: none;
  overflow: scroll;
  gap: 17px;
  overflow-y: hidden;
  scrollbar-width: none;
  padding-block: 8px;
}
.categoryMenu li a {
  text-decoration: none;
  white-space: nowrap;
  transition: opacity 150ms ease-in;
}
.categoryMenu li a:hover{
  opacity: 0.7;
}
.categoryMenu li:first-child {
  background-color: rgba(67, 97, 238, 0.4);
  padding-inline: 8px;
  padding-block: 3px;
  border-radius: var(--primary-border-radius);
}
.scrollBtn {
  position: absolute;
  height: 100%;
  width: 35px;
  z-index: 10;
  cursor: pointer;
  border: none;
  right: -37px;
  top: 0;
}
