@import "tailwindcss";

:root {
  --primary-border-radius: 3px;
}

body {
  font-family: var(--font-urbanist-sans);
}

@theme {
  --color-main-blue: #06060f;
  --color-accent-blue: #4361ee;
  --color-white: #f3f4f5;
  --color-brand-yello: #ffb703;
  --color-gray-text: #696970;

  --radius-sm: 3px;
  --text-lg: 19px;
  --text-2xl: 23px;
  --text-3xl: 27px;
  --text-4xl: 33px;
  --text-5xl: 39px;
  --text-6xl: 47px;
}

